variables/*
!variables/credentials.tfvars.template

artifacts/*
!artifacts/.gitkeep
!artifacts/push-to-vault.sh

terraform.tfstate
terraform.tfstate.backup

*.plan
*.out

helm-chart-configs/dev/00?-traefik-*.yaml
helm-chart-configs/qa/00?-traefik-*.yaml
helm-chart-configs/preprod/00?-traefik-*.yaml

.terraform

.terraform.lock.hcl
